<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Serial_Name" value="USB-SERIAL CH340 (COM67)" />
    <add key="Serial_Rate" value="460800" />
    <add key="Serial_AtCmd" value="AT" />
    <add key="block_Checked" value="True" />
    <add key="savefile_Checked" value="True" />
    <add key="stamp_Checked" value="True" />
    <add key="enter_Checked" value="True" />
    <add key="send_Timer" value="1000" />
    <add key="loopSend_Num" value="1000" />
    <add key="loopSend_Timer" value="1000" />
    <add key="listButton_Status" value="True" />
    <add key="tab_Index" value="2" />
    <add key="tabComboBox_Index1" value="0" />
    <add key="tabComboBox_Index2" value="0" />
    <add key="tabComboBox_Index3" value="0" />
    <add key="tabComboBox_Name1" value="同步AP AT指令列表" />
    <add key="tabComboBox_Name2" value="同步AP AT指令列表" />
    <add key="tabComboBox_Name3" value="同步AP AT指令列表" />
    <add key="tab_Name" value="AT指令列表" />
    <add key="at_grid_flag" value="True" />
    <add key="gridWidth" value="424.714285714286" />
    <add key="MainWidth" value="1010" />
    <add key="MainHeight" value="670" />
    <add key="expect_read" value="SUCC" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>